@import 'blocks/*.styl'

body
  background url('../background.png')
  overflow hidden

.rooms-container
  position absolute
  top 100px
  left 350px
  width 600px
  height 600px

.hide
  display none
