.users
  position: absolute;
  width 130px
  top: 250px;
  left: 100px;

  &-online
    list-style-type: none;
    padding: 0;

    &-li
      padding 5px

      &__img
        width 30px
        height 30px
        float left
        border-radius 50%

      &__name
        line-height 30px
        padding 5px